.dark-jumbotron {
    background-color: #3CBF11;
    color: #fff;
}

.light-jumbotron {
    background-color: #7DFF31;
    color: #000;
}

.top-spacer {
    margin-top: 5em;
}

.top-spacer > small {
    margin-top: 3em;
}

.bottom-spacer {
    margin-bottom: 5em;
}

.text-white {
    color: white;
}