.dark-jumbotron {
    background-color: #ACC66B;
    color: #fff;
}

.top-spacer {
    margin-top: 5em;
}

.top-spacer > small {
    margin-top: 3em;
}

.bottom-spacer {
    margin-bottom: 5em;
}

.text-white {
    color: white;
}